In [2]:
from numpy import random
import pandas as pd

In [28]:
cities = ["Tehran", "Mashhad", "Isfahan", "Tabriz", "Shiraz", "Ahvaz"]
cities_data = []

for city in cities:
    for day in range(1, 31):
        cities_data.append([
            city,
            day,
            random.randint(15, 41),
            random.randint(20, 81),
            random.randint(0, 51)
        ])

In [31]:
print(pd.DataFrame(cities_data, columns=["City", "Day", "Temperature (C)", "Humidity (%)", "Rainfall (mm)"]))

       City  Day  Temperature (C)  Humidity (%)  Rainfall (mm)
0    Tehran    1               31            24             12
1    Tehran    2               28            44             35
2    Tehran    3               18            67             47
3    Tehran    4               17            65              7
4    Tehran    5               37            35             27
..      ...  ...              ...           ...            ...
175   Ahvaz   26               27            44             12
176   Ahvaz   27               24            23             19
177   Ahvaz   28               23            47              6
178   Ahvaz   29               33            27             38
179   Ahvaz   30               39            80             15

[180 rows x 5 columns]